body{margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("./img/picture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    width: 50%;
    margin: auto;
    color: white;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
input, select{
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 20px;
}
button{
    background-color: rgb(66, 66, 180);
    border: 0; outline: 0;
    padding: 16px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color: rgb(30, 30, 197);
}
span{
    color: red;
    width: 100%;
    display: block;
}
ul{
    background-color: black;
    padding: 20px 16px;
    margin: 0 0 2%;
}
li{
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 20px 16px;
}
a{color: white; text-decoration: none;padding: 20px 16px; font-size: 20px;}
a:hover{
    color: rgb(90, 90, 168);
}