form{
    width: 50%;
    margin: auto;
}
input, select{
    width: 100%;
    padding: 7px;
    margin-bottom: 20px;
    border-radius: 20px;
}
button{
    background-color: rgb(66, 66, 180);
    border: 0; outline: 0;
    padding: 16px 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
span{
    color: red;
    width: 100%;
    display: block;
}
ul{
    background-color: black;
    padding: 20px 16px;
}
li{
    text-decoration: none;
    list-style: none;
    display: inline;
    padding: 20px 16px;
}
a{color: white; text-decoration: none;padding: 20px 16px;}
a:hover{
    background-color: blue;
}